[*.cs]

# CS0649: Полю "GoogleCloudProductPricingPage.machineTypeOption" нигде не присваивается значение, поэтому оно всегда будет иметь значение по умолчанию null.
dotnet_diagnostic.CS0649.severity = silent
